.add-product-conatiner{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.add-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    padding: 10px;
}

.add-product-header h2{
    margin: 0;
}

.card{
    flex-direction: row !important;
}

.container{
    padding-top: 0;
    margin-bottom: 3.5rem;
}

.form-actions{
    display: flex;
    justify-content: end;
    gap: 20px;
}