.orders-presentation {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
  }

.green-color{
    color: green;
    font-weight: bold;
}

.red-color{
    color: red;
    font-weight: bold;
}

.table {
    text-align: center;
  }
  
  .table th, .table td {
    vertical-align: middle;
  }
  
  .pagination {
    margin-top: 15px;
  }

  .table-action {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    text-align: center;
  }

  .table-action button{
    margin: 0;
  }

  .table-header-presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header-2 {
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  /* === */

  .product-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }